@import "tailwindcss";

@font-face {
    font-family: 'Fira Code';
    src: url("assets/fonts/FiraCode/FiraCode-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url("assets/fonts/FiraCode/FiraCode-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url("assets/fonts/FiraCode/FiraCode-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url("assets/fonts/FiraCode/FiraCode-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url("assets/fonts/FiraCode/FiraCode-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IranSans';
    src: url("assets/fonts/IranSans/IRANSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IranSans';
    src: url("assets/fonts/IranSans/IRANSans_Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IranSans';
    src: url("assets/fonts/IranSans/IRANSans_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-primary: #C778DD;
    --color-primary-light: #C778DD33;
    --color-gray: #ABB2BF;
    --color-background: #282C33;
    --color-white: #FFFFFF;
}

:root {
    --app-font-family: "Fira Code", monospace;
}

html[lang="fa"] {
    --app-font-family: "IranSans", sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: var(--app-font-family);
}
